body {
    background: rgb(194, 246, 6);
    background: linear-gradient(90deg, rgba(194, 246, 6, 1) 0%, rgba(226, 221, 61, 1) 50%, rgba(148, 223, 201, 1) 100%, rgba(0, 212, 255, 1) 100%);
}


/* 第一區 */
.logo{
margin-top: 45spx;


}
#class{
margin-right: 200px


}
header {
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background: rgb(253, 207, 0);
    opacity: 0.9;
}


#a-title {
    font-size: 50px;
}

#color {
    font-size: 25px;
}

#conbook {
    transition: 0.5s;
}


/* 選單 */

.menu {
    display: flex;
}

.menu li {
    padding: 0px;
}

ul {
    list-style: none;
}

.menushow {
display: none;
}

.menu li a:hover {
    background: #517aaf;
    color: #fff;
    padding: 10px 15px 10px 15px;
}

.menu li a {
    display: block;
    color: #62a0ca;
    padding: 5px 10px;
    text-decoration: none;
    transition: all .3s;
}



/* 下拉式選單 */

@media(max-width: 806px) {
    #class{
        margin-right: 0px
        
        
        }
    /* 固定表頭，記得設定寬度 100% */
    .header {
        position: fixed;
        width: 100%;
        background: #0F222B;
    }
    .menu {
        /* 隱藏選單 */
        max-height: 0px;
        overflow: hidden;
        /* 取消 display: flex; */
        display: block;
        /* 設定絕對定位 */
        position: absolute;
        top: 81px;
        /* 選單滿版呈現，也可以設定 left:0; right:0; */
        width: 100%;
        text-align: center;
        background: #ffffff;
        transition: max-height .8s;
    }
    /* .menu li {
        /* border: 1px dashed #62a0ca; 
        
    } */
    .menu li a {
        transition: all .3s;
    }
    .menu li a:hover {
        background: rgba(177, 177, 177, 0.753);
        color: #517aaf;
    }
    .menushow {
        display: block;
        color: #62a0ca;
        padding: 1em;
        text-decoration: none;
    }
    .menu-show .menu {
        max-height: 500px;
    }
    /* 將內容往下推，不要跟表頭重疊 */
    .content {
        padding-top: 90px;
        ;
    }
}


/* 第一區 end */


/* 第二區 */

.note {
    background-color: #000000;
    color: white;
    font-weight: bold;
    padding: 0px;
}


/* 原本顏色 */

a:visited {
    color: rgba(0, 0, 0, 0.473);
}


/* 碰到顏色 */

a:hover {
    color: rgb(36, 183, 194);
}


/* 按下顏色 */

a:active {
    color: blue;
}

a {
    text-decoration: none;
}

.d11 {
    text-decoration: none;
    color: #1e23258e;
    background-color: rgba(85, 210, 219, 0.473);
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.d1 {
    text-decoration: none;
    color: #1e2325;
    padding: 0 10px;
}

.d1:hover {
    color: #51bcff;
    padding: 0 10px;
}

#btu {
    background-color: #87CEFA;
    width: 100px;
}

.img1 {
    margin-left: 5%;
    text-align: center;
    width: 90%;
    height: 500px;
}

#un {
    bottom: 0;
    background-color: #fadf87;
    width: 100%;
    height: 50px;
    text-align: center;
}

#full {
    text-align: center;
}

#n1 {
    font-size: 45px;
}


/* RWD手機版 */

@media (max-width:600px) {
    #a-title{
            font-size: 40px;


    }
.img1{
    width: 89%;
 text-align: center;

}

}
